<div class="content">
  <form #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="loginform">
    <mat-form-field appearance="fill">
      <mat-label for="account">帳號 ：</mat-label>
      <input matInput formControlName="account" required><br>

      <div *ngIf="account.invalid && (account.dirty || account.touched)" class="alert">
        <div *ngIf="account.errors?.['required']">
          請輸入帳號！！
        </div>
      </div>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>密碼 ：</mat-label>
      <input matInput formControlName="password" required><br>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
        <div *ngIf="password.errors?.['required']">
          請輸入密碼！！
        </div>
      </div>
    </mat-form-field><br>
    <span><button mat-button type="submit" [disabled]="!form.valid">確認</button>&nbsp;<button mat-button routerLink="/signup">註冊</button></span>
  </form>
</div>
