<div class="content">
  <form #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="loginform">
    <mat-form-field appearance="fill">
      <mat-label for="account">帳號 ：</mat-label>
      <input matInput formControlName="account" required type="text"><br>

      <mat-error *ngIf="account.hasError('required')">
        <strong>請輸入帳號</strong>
      </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>密碼 ：</mat-label>
      <input matInput formControlName="password" required type="password"><br>

      <mat-error *ngIf="password.hasError('required')">
        <strong>請輸入密碼
        </strong>
      </mat-error>
    </mat-form-field><br>
    <span><button mat-button type="submit" [disabled]="!form.valid">確認</button>&nbsp;<button mat-button routerLink="/signup">註冊</button></span>
  </form>
</div>
