<div class="content">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="cross-validation" [class.cross-validation-error]="form.touched || form.dirty">
      <mat-form-field appearance="fill">
        <mat-label>帳號 ：</mat-label>
        <input matInput formControlName="form_account" required type="text">

        <mat-error *ngIf="form_account.hasError('required')">
          <strong>請輸入帳號</strong>
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>密碼 ：</mat-label>
        <input matInput formControlName="form_password" required type="password">

        <mat-error *ngIf="form_password.hasError('required')">
          <strong>請輸入密碼</strong>
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>E-mail ：</mat-label>
        <input matInput formControlName="form_email" required type="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">

        <mat-error *ngIf="form_email.hasError('email') && !form_email.hasError('required')">
          請輸入有效之 Email
        </mat-error>
        <mat-error *ngIf="form_email.hasError('required')">
          <strong>請輸入 Email</strong>
        </mat-error>
      </mat-form-field><br>
      <span><button mat-button type="submit" [disabled]="!form.valid">確認</button></span>
    </div>
  </form>
</div>
